# -------------------------
# Configuation du serveur
# -------------------------
#NB : fichier de configuration à tester

# Le serveur doit suivre les liens symboliques
# Options +followSymlinks

# Activation du module de réécriture d'URL

Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]

# Réécriture des URL sans www.
RewriteCond %{HTTP_HOST} !^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [L,R=301]
# Réécriture des URL sans https://
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://www.ensemblesyllepse.com/$1 [R=301,L]

#A tester : d'après internet, les lignes suivantes vont retirer les ".html" des URL
#RewriteCond %{THE_REQUEST} \.html [NC]
#RewriteRule ^(.*)\.html$ /$1 [R=301,L]
#
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME}\.html -f
#RewriteRule ^(.*)$ $1.html [L]
