/*Propriétés génériques s'appliquant sur l'ensemble du site internet*/
body,
body * {
	/*Quand les bordures existent, elles sont créés à l'intérieur des objets et non pas en dehors*/
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 13px;
	font-family: 'Cardo';
	color: $couleur-texte;
	background-color: $couleur-base;
}

h1 {
	font-family: 'Vidaloka';
	color: $couleur-titres;
	font-size: 38.5px;
	text-transform: uppercase;
	font-weight: unset;
	letter-spacing: .2em;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: 'Vidaloka';
	color: $couleur-titres;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: unset;
	letter-spacing: .2em;
}

nav {
	text-transform: uppercase;
}

li {
	list-style-type: none;
}

a,
a:active,
a:visited {
	color: unset;
	text-decoration: none;
}

a:hover {
	color: $couleur-texte-actif;
}

input {
	border: none;
}

input:focus {
	outline: none;
}