/*Définition de l'ensemble des variables utilisées dans le site internet*/
$couleur-texte: white;
$couleur-texte-actif: red;
$couleur-titres: #e0c9aa;
$couleur-base: black;
$couleur-base-navigation: white;
$couleur-texte-navigation: black;
$couleur-accueil-navigation: #1f3655;