@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo&display=swap");

/*Propriétés génériques s'appliquant sur l'ensemble du site internet*/
body,
body * {
    /*Quand les bordures existent, elles sont créés à l'intérieur des objets et non pas en dehors*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: "Cardo";
    color: white;
    background-color: black;
}

h1 {
    font-family: "Vidaloka";
    color: #e0c9aa;
    font-size: 43px;
    text-transform: uppercase;
    font-weight: unset;
    letter-spacing: 0.2em;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Vidaloka";
    color: #e0c9aa;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: unset;
    letter-spacing: 0.2em;
}

nav {
    text-transform: uppercase;
}

li {
    list-style-type: none;
}

a,
a:active,
a:visited {
    color: unset;
    text-decoration: none;
}

a:hover {
    color: red;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }
}
