.menu-accueil-syllepse {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 95vh;
	background-image: url("/images/photos/Syllepse page d'accueil.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.menu-reduit {
	position: sticky;
	top: 0px;
}

.menu-logo {
	height: 200px;
	max-height: 80vh;
	margin-top: 5vh;
}

.menu-navigation {
	position: sticky;
	top: 0px;
	width: 100%;
	min-height: 5vh;
	padding-bottom: 5px;
	background-color: $couleur-base-navigation;
	color: $couleur-texte-navigation;
	display: flex;
	justify-content: center;
	align-items: center;

	&-list {
		max-width: 2000px;
		width: 95%;
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}

	&-option {
		margin: 0px 10px;
		padding: 5px 0px;
		text-align: center;
		height: 20px;
		width: 12%;

		@include pour-tablette {
			width: 23%;
		}

		@include pour-mobile {
			width: 45%;
		}
	}
}

.page-accueil {
	font-weight: bold;
	color: $couleur-accueil-navigation;
}

.menu-navigation-wrap {
	background-color: $couleur-base-navigation;
	border: 1px solid $couleur-texte-navigation;
	overflow: hidden;
	transform: scale(0);
	transform-origin: top;
	transition: transform 200ms ease-in-out;
	width: 230px;

	&-title {
		text-align: center;

		&:hover {
			color: $couleur-texte-actif;
			cursor: pointer;
		}
	}

	&-option {
		margin: 5px 10px;
		text-align: left;
	}
}

.wrap:hover {
	&>.menu-navigation-wrap {
		transform: scale(1);
	}
}