.presentation-avec-photo {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 30px 0px;

	&-image {
		width: 100%;
		object-fit: cover;
		margin: 15px 0px;
	}

	&-description {
		padding: 0px 20px;
	}
}


.presentation-texte {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 60px;
	margin-bottom: 30px;

	&-description {
		margin: 15px 0px;
	}

	&-deux-colonnes {
		margin: 20px 0px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		@include pour-mobile {
			flex-direction: column;
		}
	}

	&-colonne-description {
		width: 55%;

		p {
			margin-top: 5px;
			margin-bottom: 20px;
		}

		@include pour-mobile {
			width: 100%;
		}
	}

	&-colonne-visuel {
		width: 35%;

		@include pour-mobile {
			width: 100%;
		}

		img {
			width: 100%;
			object-fit: cover;
		}
	}
}



/*
<article class="presentation-texte">
			<h2 class="presentation-texte-titre">Signification</h2>
			<p class="presentation-texte-description">Syllepse, qui nous vient du grec ancien : σύλληψις, qui signifie littéralement : « action de prendre ensemble, de comprendre, d’embrasser ».</p>
			<ul class="presentation-texte-deux-colonnes">
				<li class="presentation-texte-colonne-description">
					<ul>
						<li>
							<h3>Prendre ensemble</h3>
							<p>Un chœur c’est avant tout une multitude d’individus qui s’unissent et qui s’emparent d’un projet artistique. C’est trouver une unité dans la diversité.</p>
						</li>
						<li>
							<h3>Comprendre</h3>
							<p>Sans cesse chercher à comprendre. Comprendre un son, comprendre une résonance, un phénomène acoustique. Comprendre ce qui relie deux époques opposées dans l’histoire de la musique. Chercher à comprendre ce qui nous anime, ce qui nous unit. Comprendre ce langage universel qu’est la musique.</p>
						</li>
						<li>
							<h3>Embrasser</h3>
							<p>Embrasser un répertoire, un même désir, une exigence commune, pour s’élever ensemble. Adopter et choisir une musique pour la partager avec le public.</p>
						</li>
					</ul>
				</li>
				<li class="presentation-texte-colonne-visuel"><img src="/images/photos/photo-description-qu-est-ce-qu-est-syllepse.jpg" alt="Photo d'un concert Syllepse"></li>
			</ul>
		</article>
*/